html {
  margin: 0;
  padding: 0;
  font-family: 'IM Fell English', serif;
  height: 100%;
  width: 100%;
  overflow: none;
}
@keyframes slidy {
0% { left: 0%; }
10% { left: 0%; }
15% { left: -100%; }
30% { left: -100%; }
35% { left: -200%; }
50% { left: -200%; }
55% { left: -300%; }
70% { left: -300%; }
75% {left: -400%;  }
90% { left: -400%;}
95% {left: -200%;}
100% {left: 0%;}
}

body { margin: 0;
      height: 100%;
      overflow: none;} 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

