html, body {
  margin: 0;
  padding: 0;
  font-family: 'IM Fell English', serif;
}
.main img {
    width: 80em;
    }
.main {
    overflow: hidden;;
    margin: 0em;
    margin-bottom: -4em;
    animation: shrink;
    animation-duration: 700s;
    animation-delay: 5s;
    }
h1.center {
    color: white;
    text-align: center;
    font-size: 48px;
    animation-name: zoom;
    animation-duration: 700s;
    animation-delay: 1s;
    }
.main .content {
    position: absolute;
    top: 200px;
    width: 100%; 
}
.feature {
    margin-top: -15em;
    height: 50em;
    background-image: url('http://www.carolinacremation.com/versionone/wp-content/uploads/2011/06/the-great-outdoors-wallpapers_3680_16001.jpg');
    width: 100%;
}
.SpecialFade {
    animation-name: catch;
    animation-duration: 10000s;
    animation-delay: 7s;
    visibility: hidden;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    }
h1.SpecialFade {
    padding-top: 3em;
    }
@keyframes zoom {
    0% {font-size: 48px;}
    1% {font-size: 90px;}
    1.4% {font-size: 0px;}
    100% {font-size: 0px;}
}
@keyframes catch {
    from {visibility: hidden;}
    to {visibility: visible;}
    }
@keyframes shrink {
    0%   {height: 80em;}
    1% {height: 0em;}
    100% {height: 0em;}
}
@keyframes gone {
    from {visibility: visible;}
    to {visibility: hidden;}
    }
    
